---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://geminiprochat.com" class="gpt-title">🌱 NJ</a>
    <a href="https://geminiprochat.com" class="gpt-subtitle">🌞 EcoAI</a>
  </div>
  <p mt-1 op-60>
    Save money on your energy bills by asking NJ EcoAI how. <br>
    
    Here are some FAQ.<br>
    🤔 "What are the biggest ways I can save money on clean energy?"<br>
    🤔 "How much money can I realistically save by switching to clean energy?"<br>
    🤔 "What are the long-term cost benefits of investing in clean energy?"<br>
    🤔 "Are there any New Jersey incentives or rebates available for clean energy upgrades?"<br>
    🤔 "What are the environmental benefits of saving on clean energy, and how can I explain them to others?"<br>
    
    🤳 Create a TikTok reel using the "NJ EcoAI" AR Effect mic to create content helping others learn how to save big energy
    <a href="https://tiktok.com" class="font-bold">NJ EcoAI mic</a>
  </p>
</header>

